/* YOUR STYLES HERE */
body {
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    padding: 5px 10px; 
    display: flex;
    align-items: center;
}

.menu-item{
    font-size: 14px;
    color: black;
    margin: 0px 10px;
    text-decoration: none;
}

.menu-item:hover{
    text-decoration: underline;
}

#profile-pic {
    height: 32px;
    width: 32px;
    border-radius: 16px;
}

#profile-pic:hover{
    box-shadow: 0px 0px 5px #C2C2C2
}

#store-link{
    margin-right: auto;
}

#search {
    margin-top: 120px;
    text-align: center;
}

#main-logo {
    width: 272px;
}

#search-bar{
    height: 34px;
    font-size: 17px;
    border-radius: 17px;

    border: 1px solid #C2C2C2;
    width: 90%;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

#search-bar:hover,
#search-bar:focus{
    box-shadow: 0px 0px 5px #C2C2C2
}

#search-buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-button{
    margin: 8px;
    padding: 8px 15px;
    cursor: pointer;

    background-color: #f8f9fa;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    font-size: 14px;
}

.search-button:hover{
    box-shadow: 0px 0px 5px #C2C2C2
}

.headers{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header-1{
    font-size: 37px;
    text-align: center;
}

#main-image{
    height: 280px;
    width: 360px;
    border-radius: 100px;
    margin-right: 30px;
    margin-top: 20px;
}

#home-button{
height: 40px;
width: 40px;
margin-top: 20px;
left: 50px;
margin-left: 10px;
}

#home-button:hover{
    transform: scale(1.2);
}

#ig-button{
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-right: 5vw;
}

#ig-button:hover{
    transform: scale(1.2);
}


#linkedin-button{
    height: 40px;
    width: 40px;
    margin-right: 1vw;
}

#linkedin-button:hover{
    transform: scale(1.2);
}

#email-button{
    height: 40px;
    width: 40px;
    margin-left:3vw;
}

#email-button:hover{
    transform: scale(1.2);
}


.pfp-buttons{
    align-items:center;
}

.pets-text{
    text-align: center;
}

#fam-image{
    height: 280px;
    width: 360px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    object-fit: cover;
}

.pictures-main-page-row1{
    text-align: center;
}


#academics-image{
    height: 280px;
    width: 360px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 30px;
    object-fit: cover;
}

#funpics-image{
    height: 280px;
    width: 360px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    object-fit: cover;
}

#interests-image{
    height: 280px;
    width: 360px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    object-fit: cover;
}

.pictures-main-page-row2{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.main-image:hover{
    box-shadow: 0px 0px 10px #4b4b4b
}

.fam-image:hover{
    box-shadow: 0px 0px 10px #4b4b4b
}

.academics-image:hover{
    box-shadow: 0px 0px 10px #4b4b4b
}

.funpics-image:hover{
    box-shadow: 0px 0px 10px #4b4b4b
}

.interests-image:hover{
    box-shadow: 0px 0px 10px #4b4b4b
}

#background{
    background-image: url("images/background2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
}



