#function{
    position: absolute;
width: 60%;
left: 20%;
top: 27%;

font-family: 'Source Code Pro', monospace;
font-style: normal;
font-weight: 400;
font-size: 4vw;
line-height: 5%;
text-align: center;
max-width: 80%;
min-width: 290px;

}

.orange-color{
    color: #FC7B13;
}

.blue-color{
    color: #0B0BFC;
}

.black-color{
    color: #000000;
}

.purple-color{
    color: #9642B9;
}

.green-color{
    color: #04B305;
}

.arrow-color{
    color: #880608; 
}

#inside-function{
    position: absolute;
width: 40%;
height: 30%;
left: 35%;
top: 40%;
font-family: 'Source Code Pro', monospace;
font-style: normal;
font-weight: 400;
font-size: 2vw;

line-height: 6%;
max-width: 70%;
min-width: 200px;
overflow: hidden;
}

.indent{
    text-indent: 10%;
}

#line-height{
    line-height: 68%;
}

#career-button{
    position: absolute;
    width: 35%;
    height: 68px;
    left: 5%;
    right: 60%;
    top: 82%;
    
    background: #DBDBDB;
    border-radius: 40px;
    border: none;
    bottom: 5%;
    max-width: 40%;
    min-width: 170px;
    overflow: hidden;
    
}

#career-button:hover{
    border: 2px solid black
}

#hobbies-button{
    position: absolute;
width: 35%;
height: 68px;
left: 55%;
right: 10%;
top: 82%;
bottom: 5%;

background: #DBDBDB;
border-radius: 40px;
border: none;
max-width: 40%;
min-width: 170px;
overflow: hidden;

}

#hobbies-button:hover{
    border: 2px solid black
}

.shell-buttons{
    font-family: 'Source Code Pro', monospace;
}

button{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5vw;
}

button:hover{
    border-color: #000000;
}

.top-bar{
    background-color: #DBDBDB;
    height: 30px;
    margin: -8px;
    padding-top: 1px;
    padding-bottom: 20px;
    width: 105%;
    max-width: 1920px;
    min-width: 480px;
    margin-left: -8px;
    overflow: hidden;
}

#top-font{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
    top: 5%;
}

.space {
    width: 5%;
    height: auto;
    min-width: 2%;
    max-width: 10%;
}

span.keeptogether {
    white-space: nowrap;
}